html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: futura-pt, sans-serif;
    color: white;
}

/* ------- Header ------- */
header {
    display: flex;
    height: 100px;
    background-color: #0E0E0E;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    padding-left: 10px;
}

.nav-items {
    height: inherit;
    display: flex;
    align-items: center;
}

.nav-items a {
    margin-right: 68px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'futura-pt', Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.book-button {
    padding-right: 40px;
}

.active_menu_item {
    text-decoration: underline;
}

/* -------- Slideshow -------- */

.mySlides {
    position: relative;
    width: 100%;
}

.big-picture {
    display: flex;
    height: 815px;
    justify-content: center;
}

.big-picture h1 {
    color: white;
    align-self: center;
    letter-spacing: 0.14em;
    font-size: 76px;
    font-weight: 500;
}

.slideshow-text {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* From w3schools.com // https://www.w3schools.com/howto/howto_css_image_text.asp */
}

#questionmark {
    color: #BF1B38;
    font-size: 76px;
    font-weight: 500;
}

/* -------- Introduction -------- */

.introduction {
    display: flex;
    margin: 100px 91px;
    justify-content: space-between;
}

.intro-text {
    align-content: center;
    width: 35%;
}

h3 {
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 1px;
}

p {
    font-size: 30px;
    color: #c9c9c9;
}

/* Intro gallery */

.intro-gallery {
    align-self: center;
}

/* -------- Rooms -------- */

.rooms {
    display: flex;
    justify-content: space-between;
    margin: 30px 60px;
    margin-bottom: 80px;
}

.room {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    background-repeat: no-repeat;
    height: 40vw;
    width: 40vw;
    padding-left: 71px;
}

.room-text {
    position: absolute;
    width: 70%;
    left: 71px;
    top: 330px;
    font-size: 26px;
    line-height: 33px;
    display: none;
}

.room-name {
    font-size: 48px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 0;
}

.rooms h4 {
    font-size: 24px;
    line-height: 0;
}

.room2 {
    background-image: url(img/room2.jpg);
    background-repeat: no-repeat;
    height: 756px;
    width: 756px;
}

/* Hover effects for the room tiles */

#room1:hover>.room-text {
    display: initial;
}

#room1:hover>.room-name {
    opacity: 40%;
}

#room2:hover>.room-text {
    display: initial;
}

#room2:hover>.room-name {
    opacity: 40%;
}

/* -------- Reviews -------- */

.reviews {
    display: flex;
    flex-direction: column;
    margin: 80px 60px;
    margin-top: 150px;
}

.review-line1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-line1 img {
    width: 48%;
}

#button-container {
    display: flex;
    justify-content: center;
}

.reviews button {
    display: inline-block;
    background: #DE314F;
    width: 218px;
    height: 54px;
    color: white;
    font-size: 21px;
    font-family: 'futura-pt', sans-serif;
    border: none;
    margin: 50px auto;
}

/* ------- Countdown to Tilst opening -------- */

.Tilst-countdown {
    background-image: url(img/tilst-background.jpg);
    padding: 100px 0px;
}

/* -------- styling for the text in Tilst opening ----------------- */

#coming_soon {
    text-align: center;
    font-size: 65px;
    margin-top: 5px;
    font-weight: normal;
    letter-spacing: 10px;
    font-family: 'futura-pt', Arial, Helvetica, sans-serif
}

/* ------------- styling for the break between the title and the countdown -------------------- */

#straight_line {
    width: 50%;
    margin: 0 auto;
}

/* ---------------------------- this is the styling for the countdown clock ------------------ */

#clock {
    text-align: center;
    font-size: 65px;
    margin-top: 40px;
    font-family: "futura-pt", "Arial", sans-serif;
    color: white;
    letter-spacing: 2px;
}

/* ---- Styling for the footer ---- */

.footer {
    display: flex;
    width: 100%;
    font-family: "futura-pt", "Arial", sans-serif;
    background-color: #0E0E0E;
    padding: 75px 50px 75px 50px;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: row;
}

.li_style1 {
    margin-right: 50px;
}

.social_style {
    display: block;
    align-self: flex-end;
    justify-content: space-between;
    width: 180px;
}

/* ---- Countdown clock ---- */

.clock_box {
    background-image: url(/image\ 13.png);
    color: blue;
}

/* ---------- Media queries ---------- */

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (max-width: 1400px) {
    .intro-gallery img {
        width: 40vw;
    }
}